@media (max-width: 640px){
        /* GALERY RESPONSIVE */
        body {
            height: 130%;
        }
        .nasa-data{
            font-size: 0.9em;
        }
    
        .nasa-image img,
        .nasa-image iframe {
            width: 400px;
            height: 300px;
        }
        
        #api{
            padding-left: 0px;
            
        }
}

@media (max-width: 360px){
    body{
        height: 190%;
    }
    .nasa-image img,
    .nasa-image iframe{
        width: 300px;
        height: 200px;
    }

    .body-us{
        height: 130%;
    }
}