*,
*:before,
*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}


body{
    font-family: 'Cairo', sans-serif;
    color: white;
    background-color: black;

    
}

/* -------NAVIGATION STYLE------ */
.header{
    background-color: transparent;
    position: fixed;
    height: 80px;
    width: 100%;
    z-index: 99;
}
.nav{
    display: flex;
    justify-content: space-between;

    max-width: 992px;
    margin: 0 auto;
}

.nav-menu{
    list-style: none;

    display: flex;
    margin-right: 40px;
    line-height: 80px;

    font-size: 25px;
}

.nav-menu-item{    
    width: max-content;
    margin: 0 10px;
    padding: 0px 12px;
}

.nav-menu-link {
    position: relative;
}

.nav-menu-link:after{
    content: "";
    position: absolute;
    background-color: white;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.nav-menu-link:hover:after{
    width: 100%;
}

.logo{
    font-size: 40px;
    padding: 0 40px;
    line-height: 80px;
}

.nav-toggle {
    color:white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;

    display: none;
}

/* MAIN STYLE */
.background-galery{
    display: flex;
    flex-direction: column;
    

    background-image: url("../images/background-galery.webp");
    background-color: #000;
    background-position: center center;
}

#api {
    height: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;

    padding-left: 25px;
}

.nasa-image{   
    margin: 0 auto;
}

.nasa-image img{
    box-shadow: 0px 0px 10px 1px gray;
    border-radius: 15px;
}


.footer_section {
    height: 7%;
    width: 100%;
    display: flex;
    background-color: transparent;

    justify-content: center;
    align-items: center;

}

.icon{
    padding: 0 10px;
    font-size: 1.3em;

    text-decoration: none;
    color: white;
}

.footer_text {
    padding: 0 10px;
}